<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need)</span></div>

# What to expect in this chapter

# 1 The for iterator

In [33]:
real_names = ['Natasha Romanoff', 'Tony Stark', 'Stephan Strange'] + ['Peter Parker']

In [7]:
# a poor way of doing it
name = real_names[0]
print(f"{name} is a Marvel superhero!")

name = real_names[1]
print(f"{name} is a Marvel superhero!")

name = real_names[2]
print(f"{name} is a Marvel superhero!")

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephan Strange is a Marvel superhero!

In [13]:
for name in real_names:
    count = 0
    print (count, name)

0 Natasha Romanoff
0 Tony Stark
0 Stephan Strange

In [8]:
for name in real_names:
    count = 0
    count +=1
    print (count, name)

1 Natasha Romanoff
2 Tony Stark
3 Stephan Strange

In [15]:
for name in real_names:
    print(f"{name} is a Marvel superhero!")

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephan Strange is a Marvel superhero!

In [18]:
for count, name in enumerate(real_names, start=1000000):
    print (count, name)

1000000 Natasha Romanoff
1000001 Tony Stark
1000002 Stephan Strange

In [22]:
for count, name in enumerate(real_names, start=1000000):
    first_name, last_name = name.split()
    print (count, first_name, last_name.upper())

1000000 Natasha ROMANOFF
1000001 Tony STARK
1000002 Stephan STRANGE

1000000 Natasha ROMANOFF

1000001 Tony STARK

1000002 Stephan STRANGE

In [34]:
len(real_names)

4

In [35]:
for i in range (len(real_names)):
    print(i+1, real_names[i])

1 Natasha Romanoff
2 Tony Stark
3 Stephan Strange
4 Peter Parker

In [36]:
list(range(3))

[0, 1, 2]

## 1.1 for with a list

In [25]:
real_names = ["Natasha Romanoff", "Tony Stark", "Stephan Strange"]

In [26]:
for x in real_names:
    print (f"{x} is a marvel superhero!")

Natasha Romanoff is a marvel superhero!
Tony Stark is a marvel superhero!
Stephan Strange is a marvel superhero!

## 1.2 for with enumerate

In [41]:
real_names= ['Natasha Romanoff', 'Tony Stark', 'Stephan Strange'] 
super_names= ['black widow', 'ironman', 'doctor strange']

In [43]:
for count, name in enumerate(real_names):
    print(f'{count}: {name} is a Marvel superhero!')

0: Natasha Romanoff is a Marvel superhero!
1: Tony Stark is a Marvel superhero!
2: Stephan Strange is a Marvel superhero!

In [42]:
for index, name in enumerate(real_names):
    superhero_name = super_names[index]
    print(f'{name} is {superhero_name}!')

Natasha Romanoff is black widow!
Tony Stark is ironman!
Stephan Strange is doctor strange!

## 1.3 for with range

In [73]:
for i in range(5):
    print(i)

0
1
2
3
4

In [75]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

# 2 while

In [53]:
i = 0
while i<10:
    print (i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [54]:
i = 1
while i>1E-3:
    print (i)
    i /=2

1
0.5
0.25
0.125
0.0625
0.03125
0.015625
0.0078125
0.00390625
0.001953125

In [55]:
import numpy as np

In [71]:
i = 1
while i>1E-3:
    print (f'{i:.10f}', 
           f'{np.sin(i)=:.8f}',
           f'{np.tan(i)=:.8f}',
           np.isclose(np.sin(i), np.tan(i)))
    i /=2

1.0000000000 np.sin(i)=0.84147098 np.tan(i)=1.55740772 False
0.5000000000 np.sin(i)=0.47942554 np.tan(i)=0.54630249 False
0.2500000000 np.sin(i)=0.24740396 np.tan(i)=0.25534192 False
0.1250000000 np.sin(i)=0.12467473 np.tan(i)=0.12565514 False
0.0625000000 np.sin(i)=0.06245932 np.tan(i)=0.06258151 False
0.0312500000 np.sin(i)=0.03124491 np.tan(i)=0.03126018 False
0.0156250000 np.sin(i)=0.01562436 np.tan(i)=0.01562627 False
0.0078125000 np.sin(i)=0.00781242 np.tan(i)=0.00781266 False
0.0039062500 np.sin(i)=0.00390624 np.tan(i)=0.00390627 True
0.0019531250 np.sin(i)=0.00195312 np.tan(i)=0.00195313 True